
{% extends 'base.html' %}
{% block title %} JSA Store {% endblock %}

{% block content %}
<header class="px-6 py-10 lg:py-20 bg-purple-500">
    <div class="max-w-3xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl text-white">Password Reset Email Sent</p>

        <p class="mb-10 text-white">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder. </p>

        
    </div>
</header>
{% endblock %}


